
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
  margin-bottom: 1rem;
}

.task-item {
  display: flex;
  justify-content: space-between;
  .button-hidden {
    display: none;
    margin: 0;
    border: none;
    background: none;
    align-self: flex-end;
    cursor: pointer;
  }
  a {
    color: $dark;
    font-style: normal;
  }
}
.task-item:hover {
  .button-hidden {
    display: inline !important;
  }
}

.btn-none {
  padding: 0 0.2rem !important;
}
